.tbl{
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
    border: none;
    color: white;
    width: 10rem;
    justify-content: center;
    margin-left: 27rem;
}

.text-center .btn{
    color: seagreen;
    font-size: 14px;
    width: 25px;
    align-items: center;
    margin-right: 40px;
}

.tbl:hover{
    background-color: white;
}

.judul{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
}

.alert{
    width: 50rem;
    color: red;
    font-weight: bolder;
}